<div class="car-configurator">
  <h3>CarConfigurator</h3>
  <div class="chosen-config">
    <h5>Current config</h5>
    <p>Engine: {{selectedEngine}}</p>
    <p>Color: {{selectedColor}}</p>
    <p>Drive Wheel: {{selectedDriveWheel}}</p>
  </div>
  <div>

    <nts-option-picker label="Choose engine type"
                       [options]="engines"
                       (optionSelect)="selectEngineHandler($event)">
    </nts-option-picker>

    <nts-option-picker [label]="'Select color'"
                       [options]="colors"
                       (optionSelect)="selectColorHandler($event)"></nts-option-picker>

    <nts-option-picker [label]="'Your drive wheel?'"
                       [options]="driveWheels"
                       (optionSelect)="selectDriveWheelHandler($event)"></nts-option-picker>

  </div>
</div>
